In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date
from sklearn.model_selection import train_test_split

# Read Data

In [6]:
data = pd.read_csv('./preprocessed_main_data.csv')
data.describe()

,pm10_dki1,pm25_dki1,so2_dki1,co_dki1,o3_dki1,no2_dki1,pm10_dki2,pm25_dki2,so2_dki2,co_dki2,...,RR_km,ss_km,ff_avg_km,DDD_CAR_km,Tavg_tp,RH_avg_tp,RR_tp,ss_tp,ff_avg_tp,DDD_CAR_tp
count,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,...,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000
mean,51.613433,73.452537,32.775522,15.200299,25.508060,29.792239,56.440597,75.094627,46.584776,10.681791,...,6.325821,4.586269,1.140299,1.461194,29.202910,78.458209,5.694030,6.135224,2.104627,3.099254
std,12.501733,19.243588,15.686144,7.559672,7.503774,10.556025,15.020796,19.560365,14.884719,5.661196,...,14.429601,2.606618,0.561351,1.578296,1.084541,5.305373,15.893506,2.775520,0.885083,2.656928
min,19.000000,16.000000,8.000000,3.000000,4.000000,4.000000,20.000000,22.000000,11.000000,3.000000,...,0.000000,0.000000,0.000000,1.000000,24.800000,61.000000,0.000000,0.000000,0.000000,1.000000
25%,43.250000,61.000000,15.000000,10.000000,21.000000,24.000000,47.000000,61.250000,32.250000,7.700000,...,0.000000,2.500000,1.000000,1.000000,28.700000,75.000000,0.000000,4.525000,2.000000,1.000000
50%,55.000000,76.000000,40.000000,12.000000,25.000000,30.000000,59.800000,78.000000,54.000000,10.000000,...,0.000000,5.000000,1.000000,1.000000,29.300000,78.000000,0.000000,7.200000,2.000000,2.000000
75%,61.000000,88.000000,46.000000,22.000000,31.000000,37.000000,68.000000,89.750000,57.000000,12.000000,...,4.975000,6.800000,1.000000,1.000000,29.900000,82.000000,3.000000,8.100000,3.000000,4.000000
max,77.000000,122.000000,112.000000,38.000000,48.000000,77.000000,85.000000,115.000000,63.000000,55.000000,...,140.900000,9.900000,3.000000,9.000000,31.300000,96.000000,144.000000,10.100000,6.000000,9.000000