In [ ]:
import numpy as np
import pandas as pd

from sqlalchemy import create_engine, select, text
engine = create_engine('postgresql://postgres:postgres@localhost:5432/skripsi')

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date
from  sklearn.impute import KNNImputer

In [17]:
data_existing = pd.read_csv('../preprocessed_main_data_dki1_kemayoran_v3_(preprocess_manual_for_app).csv', sep=',', decimal='.')
data_existing['tanggal'] = pd.to_datetime(data_existing['tanggal']).dt.date
data_existing.set_index('tanggal', inplace=True)

data_meteorologi_existing = data_existing[['Tavg', 'RH_avg', 'RR', 'ss', 'ff_avg', 'DDD_CAR']]

data_polutan_existing = data_existing[['pm10', 'pm25', 'so2', 'co', 'o3', 'no2']]

In [38]:
data_existing

,pm10,pm25,so2,co,o3,no2,Tavg,RH_avg,RR,ss,ff_avg,DDD_CAR,DDD_CAR_cos,DDD_CAR_sin
tanggal,,,,,,,,,,,,,,
2023-01-01,44.0,55.0,47.0,10.0,24.0,9.0,26.3,87.0,14.5,0.0,1.0,1.0,0.000000e+00,0.000000
2023-01-02,32.0,43.0,52.0,9.0,24.0,8.0,27.5,81.0,31.5,0.7,2.0,9.0,7.071068e-01,-0.707107
2023-01-03,31.0,35.0,49.0,9.0,12.0,7.0,26.6,82.0,0.5,0.0,1.0,1.0,0.000000e+00,0.000000
2023-01-04,30.0,47.0,53.0,11.0,15.0,9.0,26.4,86.0,2.4,2.1,1.0,1.0,0.000000e+00,0.000000
2023-01-05,38.0,50.0,50.0,13.0,26.0,11.0,27.4,83.0,35.3,4.9,2.0,1.0,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27,53.0,83.0,12.0,10.0,11.0,36.0,29.2,78.0,7.5,1.2,2.0,1.0,0.000000e+00,0.000000
2024-12-28,64.0,101.0,14.0,9.0,11.0,35.0,30.0,70.0,0.6,3.8,2.0,1.0,0.000000e+00,0.000000
2024-12-29,51.0,21.0,13.0,10.0,13.0,35.0,29.7,73.0,0.0,3.0,1.0,1.0,0.000000e+00,0.000000
2024-12-30,35.0,10.0,13.0,5.0,12.0,13.0,28.4,76.0,1.0,1.8,2.0,7.0,-7.071068e-01,-0.707107
2024-12-31,29.0,11.0,6.0,13.0,10.0,18.0,28.4,76.0,2.0,2.4,2.0,8.0,-1.836970e-16,-1.000000

# Data meteorologi

In [ ]:
data_for_app = pd.read_csv('./data meteorologi prepared/2025 06 0115.csv', sep=';')
data_for_app.rename(columns={'Tanggal': 'tanggal'}, inplace=True)
data_for_app

       tanggal  Tavg  RH_avg    RR   ss  ff_avg DDD_CAR
0   01/06/2025  28,3      75   1,6  6,3       1       C
1   02/06/2025  29,4      76     0  0,2       1       C
2   03/06/2025  29,5      76     0  4,2       0       C
3   04/06/2025  30,2      74     0    7       1       C
4   05/06/2025  29,8      73     0  3,7       1       C
5   06/06/2025  29,3      74     0  4,2       1       C
6   07/06/2025  28,6      82  8888    2       1       C
7   08/06/2025  28,9      76  16,5    4       1       C
8   09/06/2025    29      78     0  3,8       1       C
9   10/06/2025  29,1      81  27,3  2,6       1       C
10  11/06/2025  28,4      79  30,5  2,8       2       E
11  12/06/2025  29,2      74     0  2,7       1       C
12  13/06/2025    30      71     0  2,8       1       C
13  14/06/2025  27,9      80     0  2,9       1       C
14  15/06/2025  29,2      76  10,6    1       1       C

In [21]:
data_for_app[['Tavg', 'RR', 'ss']] = data_for_app[['Tavg', 'RR', 'ss']].apply(lambda x: x.str.replace(',','.'))
data_for_app[['RR', 'ss']] = data_for_app[['RR', 'ss']].replace('-', np.nan)
data_for_app[['Tavg', 'RR', 'ss']] = data_for_app[['Tavg', 'RR', 'ss']].astype(float)

print(data_for_app['DDD_CAR'].unique())
data_for_app['DDD_CAR'] = data_for_app['DDD_CAR'].str.strip()
print("Kemayoran DDD_CAR stripped: ", data_for_app['DDD_CAR'].unique())

data_for_app['DDD_CAR'] = data_for_app['DDD_CAR'].replace({
  'C': 1,
  'N': 2,
  'NE': 3,
  'E': 4,
  'SE': 5,
  'S': 6,
  'SW': 7,
  'W': 8,
  'NW': 9
})
data_for_app['DDD_CAR'].unique()

data_for_app = data_for_app.replace([8888.0, 9999.0], np.nan)

data_for_app['tanggal'] = pd.to_datetime(data_for_app['tanggal'], format='%d/%m/%Y').dt.date
data_for_app.set_index('tanggal', inplace=True)

data_for_app_processed = data_for_app.copy()

['C' 'E']
Kemayoran DDD_CAR stripped:  ['C' 'E']

C:\Users\stevanus.febrian\AppData\Local\Temp\ipykernel_18864\625630243.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_for_app['DDD_CAR'] = data_for_app['DDD_CAR'].replace({

In [22]:
index_to_used = data_for_app.index
index_to_used

Index([2025-06-01, 2025-06-02, 2025-06-03, 2025-06-04, 2025-06-05, 2025-06-06,
       2025-06-07, 2025-06-08, 2025-06-09, 2025-06-10, 2025-06-11, 2025-06-12,
       2025-06-13, 2025-06-14, 2025-06-15],
      dtype='object', name='tanggal')

In [ ]:
data_meteorologi_concat = pd.concat([data_meteorologi_existing, data_for_app_processed])

            Tavg  RH_avg    RR   ss  ff_avg  DDD_CAR
tanggal
2023-01-01  26.3    87.0  14.5  0.0     1.0      1.0
2023-01-02  27.5    81.0  31.5  0.7     2.0      9.0
2023-01-03  26.6    82.0   0.5  0.0     1.0      1.0
2023-01-04  26.4    86.0   2.4  2.1     1.0      1.0
2023-01-05  27.4    83.0  35.3  4.9     2.0      1.0
...          ...     ...   ...  ...     ...      ...
2025-06-11  28.4    79.0  30.5  2.8     2.0      4.0
2025-06-12  29.2    74.0   0.0  2.7     1.0      1.0
2025-06-13  30.0    71.0   0.0  2.8     1.0      1.0
2025-06-14  27.9    80.0   0.0  2.9     1.0      1.0
2025-06-15  29.2    76.0  10.6  1.0     1.0      1.0

[746 rows x 6 columns]

In [ ]:
# proses impute
# panggil data meteorologi
# lalu join indexnya dengan data_for_app_processed
# setelah diimpute, lalu ambil data yang tanggalnya ada di index_to_used

imputer = KNNImputer()
imputed_cuaca_kemayoran = pd.concat(
  [
    pd.DataFrame({'tanggal': data_meteorologi_concat.index}),
    pd.DataFrame(imputer.fit_transform(data_meteorologi_concat),columns = ['Tavg', 'RH_avg', 'RR', 'ss', 'ff_avg', 'DDD_CAR'])
  ], axis=1
)
imputed_cuaca_kemayoran[['Tavg', 'RR', 'ss']] = imputed_cuaca_kemayoran[['Tavg', 'RR', 'ss']].round(1)
imputed_cuaca_kemayoran[['RH_avg', 'DDD_CAR', 'ff_avg']] = imputed_cuaca_kemayoran[['RH_avg', 'DDD_CAR', 'ff_avg']].round(0)
imputed_cuaca_kemayoran.set_index('tanggal', inplace=True)

In [ ]:
imputed_cuaca_kemayoran = imputed_cuaca_kemayoran[imputed_cuaca_kemayoran.index.isin(index_to_used)]

            Tavg  RH_avg    RR   ss  ff_avg  DDD_CAR
tanggal
2025-06-01  28.3    75.0   1.6  6.3     1.0      1.0
2025-06-02  29.4    76.0   0.0  0.2     1.0      1.0
2025-06-03  29.5    76.0   0.0  4.2     0.0      1.0
2025-06-04  30.2    74.0   0.0  7.0     1.0      1.0
2025-06-05  29.8    73.0   0.0  3.7     1.0      1.0
2025-06-06  29.3    74.0   0.0  4.2     1.0      1.0
2025-06-07  28.6    82.0  36.2  2.0     1.0      1.0
2025-06-08  28.9    76.0  16.5  4.0     1.0      1.0
2025-06-09  29.0    78.0   0.0  3.8     1.0      1.0
2025-06-10  29.1    81.0  27.3  2.6     1.0      1.0
2025-06-11  28.4    79.0  30.5  2.8     2.0      4.0
2025-06-12  29.2    74.0   0.0  2.7     1.0      1.0
2025-06-13  30.0    71.0   0.0  2.8     1.0      1.0
2025-06-14  27.9    80.0   0.0  2.9     1.0      1.0
2025-06-15  29.2    76.0  10.6  1.0     1.0      1.0

In [9]:
# # impute linear interpolation
# # see surrounding dates
# startdate = pd.to_datetime('2023-10-21').date()
# enddate = pd.to_datetime('2023-10-25').date()
# imputed_cuaca_kemayoran.loc[startdate:enddate]

# # proses interpolate
# date_temp = pd.to_datetime('2023-10-23').date()
# columns_temp = ['Tavg', 'RH_avg', 'RR', 'ss', 'ff_avg', 'DDD_CAR']
# imputed_cuaca_kemayoran.loc[date_temp, columns_temp] = np.nan
# imputed_cuaca_kemayoran[columns_temp] = imputed_cuaca_kemayoran[columns_temp].interpolate(method ='linear', limit_direction ='forward')

In [30]:
#proses ubah representasi DDD_CAR
label_to_category = {
    1:'C', 2:'N', 3:'NE', 4:'E', 5:'SE', 6:'S', 7:'SW', 8:'W', 9:'NW'
}

category_to_degree = {
    'C': None, 'N':0, 'NE':45, 'E':90, 'SE':135, 'S':180, 'SW':225, 'W':270, 'NW':315  
}

cos_vals = []
sin_vals = []

imputed_cuaca_kemayoran['DDD_CAR_category'] = imputed_cuaca_kemayoran['DDD_CAR'].map(label_to_category)

for val in imputed_cuaca_kemayoran['DDD_CAR_category']:
    degree = category_to_degree.get(str(val), None)
    if degree is None: 
        cos_vals.append(0.0)
        sin_vals.append(0.0)
    else:
        rad = np.deg2rad(degree)
        cos_vals.append(np.cos(rad))
        sin_vals.append(np.sin(rad))

imputed_cuaca_kemayoran['DDD_CAR_cos'] = cos_vals
imputed_cuaca_kemayoran['DDD_CAR_sin'] = sin_vals
imputed_cuaca_kemayoran.pop('DDD_CAR')
imputed_cuaca_kemayoran.pop('DDD_CAR_category')
imputed_cuaca_kemayoran.head()

            Tavg  RH_avg    RR   ss  ff_avg  DDD_CAR_cos  DDD_CAR_sin
tanggal
2023-01-01  26.3    87.0  14.5  0.0     1.0     0.000000     0.000000
2023-01-02  27.5    81.0  31.5  0.7     2.0     0.707107    -0.707107
2023-01-03  26.6    82.0   0.5  0.0     1.0     0.000000     0.000000
2023-01-04  26.4    86.0   2.4  2.1     1.0     0.000000     0.000000
2023-01-05  27.4    83.0  35.3  4.9     2.0     0.000000     0.000000

# data polutan

In [35]:
udara = pd.read_sql_query('select * from "daily_air_quality_dki1"',con=engine)
udara

          time  so2  pm10  no2  co  o3  pm25
0   2025-06-01    0     0    0   0   0     0
1   2025-06-02   34    63   39  15  18   100
2   2025-06-03   30    57   45  16  16    85
3   2025-06-04   29    73   54  25  15   119
4   2025-06-05   30    73   51  23  17   116
5   2025-06-06   29    61   38  16  20    92
6   2025-06-07   28    59   38  20  21   110
7   2025-06-08   30    67   20  17  29   103
8   2025-06-09   26    49   33  12  13     0
9   2025-06-10   28    61   41  17  13    36
10  2025-06-11   26    53   44  19  11    83
11  2025-06-12   30    52   34  15  15    97
12  2025-06-13   31    58   35  14  16    98
13  2025-06-14   32    55   35  13  13    88
14  2025-06-15   32    52   27  14  10    76

In [ ]:
# set 0 as nan
udara = udara[['time', 'pm10', 'pm25', 'so2', 'co', 'o3', 'no2']]
udara['time'] = pd.to_datetime(udara['time'], format='%Y-%m-%d').dt.date
udara.set_index('time', inplace=True)
udara = udara.replace(0, np.nan)

# next step join data meteorologi
udara_dan_meteorologi = udara.join(imputed_cuaca_kemayoran, how='inner')
udara_dan_meteorologi

,pm10,pm25,so2,co,o3,no2,Tavg,RH_avg,RR,ss,ff_avg,DDD_CAR_cos,DDD_CAR_sin
2025-06-01,NaN,NaN,NaN,NaN,NaN,NaN,28.3,75.0,1.6,6.3,1.0,0.000000e+00,0.0
2025-06-02,63.0,100.0,34.0,15.0,18.0,39.0,29.4,76.0,0.0,0.2,1.0,0.000000e+00,0.0
2025-06-03,57.0,85.0,30.0,16.0,16.0,45.0,29.5,76.0,0.0,4.2,0.0,0.000000e+00,0.0
2025-06-04,73.0,119.0,29.0,25.0,15.0,54.0,30.2,74.0,0.0,7.0,1.0,0.000000e+00,0.0
2025-06-05,73.0,116.0,30.0,23.0,17.0,51.0,29.8,73.0,0.0,3.7,1.0,0.000000e+00,0.0
2025-06-06,61.0,92.0,29.0,16.0,20.0,38.0,29.3,74.0,0.0,4.2,1.0,0.000000e+00,0.0
2025-06-07,59.0,110.0,28.0,20.0,21.0,38.0,28.6,82.0,36.2,2.0,1.0,0.000000e+00,0.0
2025-06-08,67.0,103.0,30.0,17.0,29.0,20.0,28.9,76.0,16.5,4.0,1.0,0.000000e+00,0.0
2025-06-09,49.0,NaN,26.0,12.0,13.0,33.0,29.0,78.0,0.0,3.8,1.0,0.000000e+00,0.0
2025-06-10,61.0,36.0,28.0,17.0,13.0,41.0,29.1,81.0,27.3,2.6,1.0,0.000000e+00,0.0
2025-06-11,53.0,83.0,26.0,19.0,11.0,44.0,28.4,79.0,30.5,2.8,2.0,6.123234e-17,1.0
2025-06-12,52.0,97.0,30.0,15.0,15.0,34.0,29.2,74.0,0.0,2.7,1.0,0.000000e+00,0.0
2025-06-13,58.0,98.0,31.0,14.0,16.0,35.0,30.0,71.0,0.0,2.8,1.0,0.000000e+00,0.0
2025-06-14,55.0,88.0,32.0,13.0,13.0,35.0,27.9,80.0,0.0,2.9,1.0,0.000000e+00,0.0
2025-06-15,52.0,76.0,32.0,14.0,10.0,27.0,29.2,76.0,10.6,1.0,1.0,0.000000e+00,0.0

In [39]:
data_existing.columns

Index(['pm10', 'pm25', 'so2', 'co', 'o3', 'no2', 'Tavg', 'RH_avg', 'RR', 'ss',
       'ff_avg', 'DDD_CAR', 'DDD_CAR_cos', 'DDD_CAR_sin'],
      dtype='object')

In [ ]:
udara_dan_meteorologi_dan_existing = pd.concat(
  [
    udara_dan_meteorologi, 
    data_existing[['pm10', 'pm25', 'so2', 'co', 'o3', 'no2', 'Tavg', 'RH_avg', 'RR', 'ss','ff_avg', 'DDD_CAR_cos', 'DDD_CAR_sin']]
  ]
)

,pm10,pm25,so2,co,o3,no2,Tavg,RH_avg,RR,ss,ff_avg,DDD_CAR_cos,DDD_CAR_sin
2025-06-01,NaN,NaN,NaN,NaN,NaN,NaN,28.3,75.0,1.6,6.3,1.0,0.000000e+00,0.000000
2025-06-02,63.0,100.0,34.0,15.0,18.0,39.0,29.4,76.0,0.0,0.2,1.0,0.000000e+00,0.000000
2025-06-03,57.0,85.0,30.0,16.0,16.0,45.0,29.5,76.0,0.0,4.2,0.0,0.000000e+00,0.000000
2025-06-04,73.0,119.0,29.0,25.0,15.0,54.0,30.2,74.0,0.0,7.0,1.0,0.000000e+00,0.000000
2025-06-05,73.0,116.0,30.0,23.0,17.0,51.0,29.8,73.0,0.0,3.7,1.0,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27,53.0,83.0,12.0,10.0,11.0,36.0,29.2,78.0,7.5,1.2,2.0,0.000000e+00,0.000000
2024-12-28,64.0,101.0,14.0,9.0,11.0,35.0,30.0,70.0,0.6,3.8,2.0,0.000000e+00,0.000000
2024-12-29,51.0,21.0,13.0,10.0,13.0,35.0,29.7,73.0,0.0,3.0,1.0,0.000000e+00,0.000000
2024-12-30,35.0,10.0,13.0,5.0,12.0,13.0,28.4,76.0,1.0,1.8,2.0,-7.071068e-01,-0.707107
2024-12-31,29.0,11.0,6.0,13.0,10.0,18.0,28.4,76.0,2.0,2.4,2.0,-1.836970e-16,-1.000000

In [42]:
imputed_udara = pd.concat(
  [
    pd.DataFrame({'tanggal': udara_dan_meteorologi_dan_existing.index}),
    pd.DataFrame(
      imputer.fit_transform(udara_dan_meteorologi_dan_existing),
      columns = ['pm10', 'pm25', 'so2', 'co', 'o3', 'no2', 'Tavg', 'RH_avg', 'RR', 'ss','ff_avg', 'DDD_CAR_cos', 'DDD_CAR_sin']
    )
  ], axis=1
)

In [46]:
imputed_data_for_app = imputed_udara.copy()
imputed_data_for_app.set_index('tanggal', inplace=True)
imputed_data_for_app = imputed_data_for_app[imputed_data_for_app.index.isin(index_to_used)]
imputed_data_for_app.to_csv('./data_for_app.csv', sep=',', decimal='.', index=True)

# temp