In [1]:
import requests
import time
from meteostat import Point, Daily, Hourly
from datetime import datetime as dt, date, timedelta
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, select, text
engine = create_engine('postgresql://postgres:postgres@localhost:5432/skripsi')

import matplotlib.pyplot as plt

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

start:  2025-03-16 00:00:00
end:  2025-03-19 00:00:00
            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2025-03-16  28.4  27.0  29.9   NaN   NaN  282.0   9.7   NaN  1009.3   NaN
2025-03-17  28.0  26.6  29.3   NaN   NaN  280.0  10.0   NaN  1008.9   NaN
2025-03-18  28.0  26.1  30.0   NaN   NaN  285.0  10.2   NaN  1009.9   NaN
2025-03-19  28.2  26.3  30.2   NaN   NaN  285.0  10.0   NaN  1011.1   NaN

# Data Meteorologi (Meteostat https://dev.meteostat.net/python/)

Tanjung Priok: 96741

Kemayoran: 96745

script bakal jalan dari last recorded date - current date & jalan:
1. setiap hari
2. setiap kali akses website

## Get Start Date from last recorded daily date (Relative Humidity only avail in Hourly Data)

In [2]:
# start = dt(2025, 1, 1)
#### 1, UBAH BAGIAN INI BUAT GET LAST RECORDED DATE 
last_daily_meteorological_date = pd.read_sql_query('select max(time) from "daily_meteorological"', con=engine)['max'][0]
last_daily_meteorological_date = dt.combine(last_daily_meteorological_date, dt.min.time())
start = last_daily_meteorological_date + timedelta(days=1)

## Get End Date from yesterday of today

In [3]:
# end = dt(2025, 1, 8, 23, 59)
# 2. DAPETIN H-1 CURRENT DATE SBG BATAS BUAT DAPETIN DAILY DATA
today = dt.today()
# Calculate yesterday's date
yesterday = today - timedelta(days=1)
end = dt(yesterday.year, yesterday.month, yesterday.day, 23, 59)

## Tanjung Priok

### 1. Get & Preprocess Rhum (Relative Humidity) Data

In [4]:
# Get hourly Relative Humidity data
data_tp_rhum_hourly = Hourly('96741', start, end)
data_tp_rhum_hourly = data_tp_rhum_hourly.fetch()['rhum']

# 3. BIKIN HANDLING UNRECORDED HOURLY RHUM 
# generate complete timestamp from fetched data
complete_timestamp = pd.date_range(start=data_tp_rhum_hourly.index.min(), end=data_tp_rhum_hourly.index.max(), freq='h')
data_tp_rhum_hourly = data_tp_rhum_hourly.reindex(complete_timestamp)

#fillna with linear interpolation, existing value won't change if there's no na
data_tp_rhum_hourly = data_tp_rhum_hourly.interpolate(method='linear')
data_tp_rhum_hourly = data_tp_rhum_hourly.round()

# set index
data_tp_rhum_hourly = data_tp_rhum_hourly.reset_index()
data_tp_rhum_hourly = data_tp_rhum_hourly.rename(columns={'index': 'time'})
data_tp_rhum_hourly = data_tp_rhum_hourly.set_index('time')

# add Observatory station_id
data_tp_rhum_hourly['station_id'] = 96741
data_tp_rhum_hourly = data_tp_rhum_hourly[['station_id', 'rhum']]

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

In [5]:
data_tp_rhum_hourly

                     station_id  rhum
time
2025-06-03 00:00:00       96741  84.0
2025-06-03 01:00:00       96741  80.0
2025-06-03 02:00:00       96741  76.0
2025-06-03 03:00:00       96741  73.0
2025-06-03 04:00:00       96741  65.0
...                         ...   ...
2025-06-07 19:00:00       96741  85.0
2025-06-07 20:00:00       96741  86.0
2025-06-07 21:00:00       96741  87.0
2025-06-07 22:00:00       96741  86.0
2025-06-07 23:00:00       96741  86.0

[120 rows x 2 columns]

In [6]:
# Saving hourly meteorological data
data_tp_rhum_hourly.to_sql('hourly_meteorological_rhum', con=engine, if_exists='append')

120

### 2. Convert Hourly Rhum to Daily

In [7]:
data_tp_rhum_hourly = data_tp_rhum_hourly.reset_index()
data_tp_rhum_daily = data_tp_rhum_hourly.groupby(data_tp_rhum_hourly['time'].dt.date).mean().round().astype('int')
data_tp_rhum_daily = data_tp_rhum_daily.drop(columns=['time'])

In [8]:
data_tp_rhum_daily

            station_id  rhum
time
2025-06-03       96741    77
2025-06-04       96741    76
2025-06-05       96741    78
2025-06-06       96741    77
2025-06-07       96741    79

### 3. Get Daily Data (Tavg, Prcp, Wdir, Wspd)

In [9]:
# Get Daily data of Avg Temp, rainfall, wind direction, wind speed
data_tp_daily = Daily('96741', start, end)
data_tp_daily = data_tp_daily.fetch()
data_tp_daily = data_tp_daily[['tavg', 'prcp', 'wdir','wspd']]

start:  2025-06-03 00:00:00
end:  2025-06-07 23:59:00

In [10]:
data_tp_daily

            tavg  prcp   wdir  wspd
time
2025-06-03  29.5   4.3  107.0   5.3
2025-06-04  29.5   0.0  110.0   5.1
2025-06-05  29.5   0.6   87.0   5.1
2025-06-06  29.6   5.6  105.0   5.7
2025-06-07  29.4   NaN   76.0   5.5

### 4. Preprocess Non-Rhum Daily Data

In [11]:
# 1. windspeed from km/h to m/s
data_tp_daily['wspd'] = (data_tp_daily['wspd'] / 3.6).round().astype(int)

# wind direction sepakat di jadiin categorical terus di label encoding
def get_wind_direction(degree):
  wind_directions = {
      "N": (337.5, 22.5),
      "NE": (22.5, 67.5),
      "E": (67.5, 112.5),
      "SE": (112.5, 157.5),
      "S": (157.5, 202.5),
      "SW": (202.5, 247.5),
      "W": (247.5, 292.5),
      "NW": (292.5, 337.5)
  }

  for direction, (start_degree, end_degree) in wind_directions.items():
    if start_degree <= degree < end_degree:
      return direction

# 2. change wdir to categorical
for degree in data_tp_daily['wdir']:
  data_tp_daily['wdir'] = get_wind_direction(degree)

# 3. change wdir to C (calm) when the wind speed <= 2 m/s
data_tp_daily.loc[data_tp_daily['wspd'] <= 2, 'wdir'] = 'C'

In [12]:
# join tanjung priok data
merge_tp_daily = data_tp_daily.join(data_tp_rhum_daily)

# reoder column
merge_tp_daily = merge_tp_daily[['station_id', 'tavg', 'rhum', 'prcp', 'wspd', 'wdir']]
merge_tp_daily

            station_id  tavg  rhum  prcp  wspd wdir
time
2025-06-03       96741  29.5    77   4.3     1    C
2025-06-04       96741  29.5    76   0.0     1    C
2025-06-05       96741  29.5    78   0.6     1    C
2025-06-06       96741  29.6    77   5.6     2    C
2025-06-07       96741  29.4    79   NaN     2    C

### 5. Insert Tanjung Priok Daily Meteorological

In [13]:
merge_tp_daily.to_sql('daily_meteorological', con=engine, if_exists='append')

5

## Observatory Jakarta

### 1. Get & Preprocess Rhum (Relative Humidity) Data

In [14]:
# Get hourly Relative Humidity data
data_obs_rhum_hourly = Hourly('96745', start, end)
data_obs_rhum_hourly = data_obs_rhum_hourly.fetch()['rhum']

# 3. BIKIN HANDLING UNRECORDED HOURLY RHUM 
# generate complete timestamp from fetched data
complete_timestamp = pd.date_range(start=data_obs_rhum_hourly.index.min(), end=data_obs_rhum_hourly.index.max(), freq='h')
data_obs_rhum_hourly = data_obs_rhum_hourly.reindex(complete_timestamp)

#fillna with linear interpolation, existing value won't change if there's no na
data_obs_rhum_hourly = data_obs_rhum_hourly.interpolate(method='linear')
data_obs_rhum_hourly = data_obs_rhum_hourly.round()

# set index
data_obs_rhum_hourly = data_obs_rhum_hourly.reset_index()
data_obs_rhum_hourly = data_obs_rhum_hourly.rename(columns={'index': 'time'})
data_obs_rhum_hourly = data_obs_rhum_hourly.set_index('time')

# add Observatory station_id
data_obs_rhum_hourly['station_id'] = 96745
data_obs_rhum_hourly = data_obs_rhum_hourly[['station_id', 'rhum']]

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

In [15]:
# Saving hourly meteorological data
data_obs_rhum_hourly.to_sql('hourly_meteorological_rhum', con=engine, if_exists='append')

115

### 2. Convert Hourly Rhum to Daily

In [16]:
data_obs_rhum_hourly = data_obs_rhum_hourly.reset_index()
data_obs_rhum_daily = data_obs_rhum_hourly.groupby(data_obs_rhum_hourly['time'].dt.date).mean().round().astype('int')
data_obs_rhum_daily = data_obs_rhum_daily.drop(columns=['time'])

### 3. Get Daily Data (Tavg, Prcp, Wdir, Wspd)

In [17]:
end

datetime.datetime(2025, 6, 7, 23, 59)

In [18]:
# Get Daily data of Avg Temp, rainfall, wind direction, wind speed
# data_obs_daily = Daily('96741', start, end)
data_obs_daily = Daily(96745, start, end)
data_obs_daily = data_obs_daily.fetch()
data_obs_daily = data_obs_daily[['tavg', 'prcp', 'wdir','wspd']]
data_obs_daily

start:  2025-06-03 00:00:00
end:  2025-06-07 23:59:00

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

            tavg  prcp   wdir  wspd
time
2025-06-03  27.5   3.8  117.0   7.5
2025-06-04  27.9   0.0  179.0   6.3
2025-06-05  27.5   1.3  239.0   6.9
2025-06-06  26.8   6.5  226.0   6.4

### 4. Preprocess Non-Rhum Daily Data

In [ ]:
# 1. windspeed from km/h to m/s
data_obs_daily['wspd'] = (data_obs_daily['wspd'] / 3.6).round().astype(int)

# wind direction sepakat di jadiin categorical terus di label encoding
def get_wind_direction(degree):
  wind_directions = {
      "N": (337.5, 22.5),
      "NE": (22.5, 67.5),
      "E": (67.5, 112.5),
      "SE": (112.5, 157.5),
      "S": (157.5, 202.5),
      "SW": (202.5, 247.5),
      "W": (247.5, 292.5),
      "NW": (292.5, 337.5)
  }

  for direction, (start_degree, end_degree) in wind_directions.items():
    if start_degree <= degree < end_degree:
      return direction

# 2. change wdir to categorical
for degree in data_obs_daily['wdir']:
  data_obs_daily['wdir'] = get_wind_direction(degree)

# 3. change wdir to C (calm) when the wind speed <= 2 m/s
data_obs_daily.loc[data_obs_daily['wspd'] <= 2, 'wdir'] = 'C'

In [ ]:
# join kemayoran data
merge_obs_daily = data_obs_daily.join(data_obs_rhum_daily)

# reoder column
merge_obs_daily = merge_obs_daily[['station_id', 'tavg', 'rhum', 'prcp', 'wspd', 'wdir']]

### 5. Insert Observatory Daily Meteorological

In [ ]:
merge_obs_daily.to_sql('daily_meteorological', con=engine, if_exists='append')

4