In [201]:
import requests
from meteostat import Point, Daily, Hourly
from datetime import datetime as dt, date, timedelta
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, select, text
engine = create_engine('postgresql://postgres:postgres@localhost:5432/skripsi')

import matplotlib.pyplot as plt

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [ ]:
# list hit api
# https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id={id_lokasi}&metric={1-6}


## DKI 1: https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2d554554-7567-4ac1-ab87-536260d2ba79&metric={1-6}

## DKI 2: https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2420af88-7961-41aa-9d16-090da63e4ef7&metric={1-6}

## DKI 3: https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=61246172-d1ec-4e25-8c96-ddf74f967dc5&metric={1-6}

## DKI 4: https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=a188c80b-8233-41e1-9239-9f7143acbab8&metric={1-6}

## DKI 5: https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=e0aa6e66-90b9-478b-b7e4-bc4a35646b32&metric={1-6}

In [233]:
# script ini jalan setiap hari & setiap kali nanti web diakses

# Read Data / CSV

In [153]:
# awalnya bikin csv manual
# result = pd.read_csv('./Result/result.csv', sep=';')

In [156]:
udara = pd.read_sql_query('select * from "udara"',con=engine)

# Data Polutan (Hit API https://udara.dinaslhdki.id/)

## DKI1 (Bundaran HI)

In [444]:
so2_dki1 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2d554554-7567-4ac1-ab87-536260d2ba79&metric=1').json()
pm10_dki1 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2d554554-7567-4ac1-ab87-536260d2ba79&metric=2').json()
no2_dki1 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2d554554-7567-4ac1-ab87-536260d2ba79&metric=3').json()
co_dki1 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2d554554-7567-4ac1-ab87-536260d2ba79&metric=4').json()
o3_dki1 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2d554554-7567-4ac1-ab87-536260d2ba79&metric=5').json()
pm25_dki1 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2d554554-7567-4ac1-ab87-536260d2ba79&metric=6').json()

len(so2_dki1), len(pm10_dki1), len(no2_dki1), len(co_dki1), len(o3_dki1), len(pm25_dki1)

(36, 36, 36, 36, 36, 36)

## DKI2 (Kelapa Gading)

In [445]:
so2_dki2 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2420af88-7961-41aa-9d16-090da63e4ef7&metric=1').json()
pm10_dki2 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2420af88-7961-41aa-9d16-090da63e4ef7&metric=2').json()
no2_dki2 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2420af88-7961-41aa-9d16-090da63e4ef7&metric=3').json()
co_dki2 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2420af88-7961-41aa-9d16-090da63e4ef7&metric=4').json()
o3_dki2 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2420af88-7961-41aa-9d16-090da63e4ef7&metric=5').json()
pm25_dki2 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=2420af88-7961-41aa-9d16-090da63e4ef7&metric=6').json()

len(so2_dki2), len(pm10_dki2), len(no2_dki2), len(co_dki2), len(o3_dki2), len(pm25_dki2)

(36, 36, 36, 36, 36, 36)

## DKI3 (Jagakarsa)

In [446]:
so2_dki3 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=61246172-d1ec-4e25-8c96-ddf74f967dc5&metric=1').json()
pm10_dki3 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=61246172-d1ec-4e25-8c96-ddf74f967dc5&metric=2').json()
no2_dki3 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=61246172-d1ec-4e25-8c96-ddf74f967dc5&metric=3').json()
co_dki3 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=61246172-d1ec-4e25-8c96-ddf74f967dc5&metric=4').json()
o3_dki3 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=61246172-d1ec-4e25-8c96-ddf74f967dc5&metric=5').json()
pm25_dki3 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=61246172-d1ec-4e25-8c96-ddf74f967dc5&metric=6').json()

len(so2_dki3), len(pm10_dki3), len(no2_dki3), len(co_dki3), len(o3_dki3), len(pm25_dki3)

(36, 36, 36, 36, 36, 36)

## DKI4 (Lubang Buaya)

In [447]:
so2_dki4 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=a188c80b-8233-41e1-9239-9f7143acbab8&metric=1').json()
pm10_dki4 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=a188c80b-8233-41e1-9239-9f7143acbab8&metric=2').json()
no2_dki4 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=a188c80b-8233-41e1-9239-9f7143acbab8&metric=3').json()
co_dki4 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=a188c80b-8233-41e1-9239-9f7143acbab8&metric=4').json()
o3_dki4 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=a188c80b-8233-41e1-9239-9f7143acbab8&metric=5').json()
pm25_dki4 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=a188c80b-8233-41e1-9239-9f7143acbab8&metric=6').json()

len(so2_dki4), len(pm10_dki4), len(no2_dki4), len(co_dki4), len(o3_dki4), len(pm25_dki4)

(36, 36, 36, 36, 36, 36)

## DKI5 (Kebon Jeruk)

In [448]:
so2_dki5 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=e0aa6e66-90b9-478b-b7e4-bc4a35646b32&metric=1').json()
pm10_dki5 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=e0aa6e66-90b9-478b-b7e4-bc4a35646b32&metric=2').json()
no2_dki5 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=e0aa6e66-90b9-478b-b7e4-bc4a35646b32&metric=3').json()
co_dki5 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=e0aa6e66-90b9-478b-b7e4-bc4a35646b32&metric=4').json()
o3_dki5 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=e0aa6e66-90b9-478b-b7e4-bc4a35646b32&metric=5').json()
pm25_dki5 = requests.get('https://udara.dinaslhdki.id/api/detail_lokasi/twodays/?id=e0aa6e66-90b9-478b-b7e4-bc4a35646b32&metric=6').json()

len(so2_dki5), len(pm10_dki5), len(no2_dki5), len(co_dki5), len(o3_dki5), len(pm25_dki5)

(36, 36, 36, 36, 36, 36)

In [472]:
for col in [ 'so2_dki1', 'pm10_dki1', 'no2_dki1', 'co_dki1', 'o3_dki1', 'pm25_dki1', 'so2_dki2', 'pm10_dki2', 'no2_dki2', 'co_dki2', 'o3_dki2', 'pm25_dki2', 'so2_dki3', 'pm10_dki3', 'no2_dki3', 'co_dki3', 'o3_dki3', 'pm25_dki3', 'so2_dki4', 'pm10_dki4', 'no2_dki4', 'co_dki4', 'o3_dki4', 'pm25_dki4', 'so2_dki5', 'pm10_dki5', 'no2_dki5', 'co_dki5', 'o3_dki5', 'pm25_dki5' ]:
  temp = pd.DataFrame(eval(col))
  temp['tgl'] = pd.to_datetime(temp['tgl']).dt.tz_localize(None)
  temp['value'] = pd.to_numeric(temp['value'] , errors='coerce')
  temp = temp.rename(columns={'value': col})
  temp = temp.set_index('tgl')
  globals()[f"{col}_df"] = temp.copy()

In [473]:
polutan_dki = so2_dki1_df.join(pm10_dki1_df).join(no2_dki1_df).join(co_dki1_df).join(o3_dki1_df).join(pm25_dki1_df).join(so2_dki2_df).join(pm10_dki2_df).join(no2_dki2_df).join(co_dki2_df).join(o3_dki2_df).join(pm25_dki2_df).join(so2_dki3_df).join(pm10_dki3_df).join(no2_dki3_df).join(co_dki3_df).join(o3_dki3_df).join(pm25_dki3_df).join(so2_dki4_df).join(pm10_dki4_df).join(no2_dki4_df).join(co_dki4_df).join(o3_dki4_df).join(pm25_dki4_df).join(so2_dki5_df).join(pm10_dki5_df).join(no2_dki5_df).join(co_dki5_df).join(o3_dki5_df).join(pm25_dki5_df)

In [475]:
polutan_dki = polutan_dki.reset_index()

In [476]:
polutan_dki

,tgl,so2_dki1,pm10_dki1,no2_dki1,co_dki1,o3_dki1,pm25_dki1,so2_dki2,pm10_dki2,no2_dki2,...,no2_dki4,co_dki4,o3_dki4,pm25_dki4,so2_dki5,pm10_dki5,no2_dki5,co_dki5,o3_dki5,pm25_dki5
0,2025-01-09 03:00:00,9,25,19,22,8,29,21,24,20,...,12,9,18,18,4,8,5,5,30,30
1,2025-01-09 04:00:00,9,24,19,22,8,29,21,24,20,...,12,9,18,17,4,9,5,5,31,30
2,2025-01-09 05:00:00,9,24,19,22,9,28,21,23,19,...,12,9,18,17,4,9,5,5,31,29
3,2025-01-09 06:00:00,9,23,19,22,9,27,21,23,19,...,12,9,18,18,3,10,5,5,31,29
4,2025-01-09 07:00:00,9,23,19,22,9,27,21,23,19,...,13,9,18,17,4,10,5,5,32,29
5,2025-01-09 08:00:00,9,22,19,22,8,27,21,23,19,...,13,9,17,17,4,11,6,5,31,28
6,2025-01-09 10:00:00,8,21,18,22,8,24,21,22,20,...,12,9,16,17,2,12,6,5,30,24
7,2025-01-09 11:00:00,8,20,19,22,8,23,21,22,20,...,12,9,15,16,2,13,7,6,30,24
8,2025-01-09 12:00:00,8,20,19,22,8,23,21,22,20,...,13,9,14,16,2,13,7,6,30,25
9,2025-01-09 13:00:00,9,20,19,23,7,23,21,22,20,...,13,9,14,16,3,13,7,6,31,27
10,2025-01-09 14:00:00,9,20,19,23,7,26,21,22,19,...,13,10,14,16,3,13,7,6,31,28
11,2025-01-09 16:00:00,11,21,19,23,8,26,21,22,15,...,13,10,16,16,2,14,7,6,31,29
12,2025-01-09 21:00:00,18,22,16,23,8,26,21,21,15,...,12,10,15,14,3,16,7,6,30,25
13,2025-01-09 22:00:00,18,23,19,24,8,30,21,22,13,...,13,11,16,15,5,14,10,7,29,29
14,2025-01-09 23:00:00,18,23,19,24,7,33,21,22,13,...,14,12,15,16,6,14,11,8,28,34
15,2025-01-10 03:00:00,16,24,21,24,7,45,21,26,15,...,14,15,15,21,7,16,13,11,27,53
16,2025-01-10 04:00:00,16,25,21,24,8,48,22,27,15,...,14,15,14,22,7,16,13,12,27,56
17,2025-01-10 05:00:00,15,26,22,23,8,51,22,29,16,...,15,16,14,23,7,16,14,12,27,59
18,2025-01-10 06:00:00,15,28,22,23,8,51,22,31,17,...,15,16,14,24,7,17,14,13,27,61
19,2025-01-10 07:00:00,15,29,22,23,8,52,22,33,18,...,15,17,14,26,7,17,14,13,27,62
20,2025-01-10 08:00:00,10,30,22,23,8,54,23,36,18,...,15,19,14,27,8,18,16,14,26,66
21,2025-01-10 09:00:00,0,32,23,23,8,55,23,38,17,...,16,19,14,29,10,18,16,15,27,70
22,2025-01-10 10:00:00,0,33,24,22,8,56,23,40,16,...,17,19,16,30,12,19,17,14,28,72
23,2025-01-10 11:00:00,0,35,24,22,10,58,23,41,15,...,17,19,18,31,12,19,16,14,28,73
24,2025-01-10 12:00:00,0,36,24,21,10,59,23,43,15,...,17,19,20,32,12,19,15,14,29,73
25,2025-01-10 13:00:00,0,37,24,20,11,59,23,45,15,...,17,19,22,33,12,20,15,13,29,73
26,2025-01-10 14:00:00,0,39,24,19,11,58,23,46,15,...,17,18,22,33,12,20,15,13,29,73
27,2025-01-10 15:00:00,0,39,25,19,12,58,23,47,15,...,16,18,22,33,12,20,14,13,29,74
28,2025-01-10 16:00:00,0,40,26,19,12,59,23,48,15,...,16,18,23,33,12,20,14,13,29,75
29,2025-01-10 17:00:00,0,41,27,18,12,60,23,49,15,...,16,18,24,33,12,21,14,14,29,75
30,2025-01-10 18:00:00,0,42,28,18,13,60,23,49,15,...,16,18,25,33,12,21,14,14,30,76
31,2025-01-10 19:00:00,0,42,29,17,13,60,23,50,15,...,16,18,25,33,12,21,14,14,30,76
32,2025-01-10 20:00:00,0,43,30,17,13,60,23,50,15,...,17,18,25,33,11,21,14,14,31,77
33,2025-01-10 21:00:00,0,43,30,16,13,61,23,51,15,...,17,18,25,34,10,21,13,13,32,76
34,2025-01-10 22:00:00,0,44,29,16,14,61,23,51,15,...,17,17,25,33,9,21,12,13,33,76
35,2025-01-10 23:00:00,0,45,29,15,14,60,23,51,15,...,17,16,26,33,9,21,11,12,33,74

## Concat existing and new data

In [477]:
concated_polutan = pd.concat([udara, polutan_dki], ignore_index=True)
concated_polutan = concated_polutan.drop_duplicates()

In [482]:
new_polutan = concated_polutan[~concated_polutan['tgl'].isin(udara['tgl'])]
new_polutan = new_polutan.rename(columns={'tgl': 'time'})
new_polutan = new_polutan.set_index('time')
new_polutan

,so2_dki1,pm10_dki1,no2_dki1,co_dki1,o3_dki1,pm25_dki1,so2_dki2,pm10_dki2,no2_dki2,co_dki2,...,no2_dki4,co_dki4,o3_dki4,pm25_dki4,so2_dki5,pm10_dki5,no2_dki5,co_dki5,o3_dki5,pm25_dki5
time,,,,,,,,,,,,,,,,,,,,,
2025-01-10 03:00:00,16,24,21,24,7,45,21,26,15,15,...,14,15,15,21,7,16,13,11,27,53
2025-01-10 04:00:00,16,25,21,24,8,48,22,27,15,15,...,14,15,14,22,7,16,13,12,27,56
2025-01-10 05:00:00,15,26,22,23,8,51,22,29,16,16,...,15,16,14,23,7,16,14,12,27,59
2025-01-10 06:00:00,15,28,22,23,8,51,22,31,17,16,...,15,16,14,24,7,17,14,13,27,61
2025-01-10 07:00:00,15,29,22,23,8,52,22,33,18,17,...,15,17,14,26,7,17,14,13,27,62
2025-01-10 08:00:00,10,30,22,23,8,54,23,36,18,17,...,15,19,14,27,8,18,16,14,26,66
2025-01-10 09:00:00,0,32,23,23,8,55,23,38,17,17,...,16,19,14,29,10,18,16,15,27,70
2025-01-10 10:00:00,0,33,24,22,8,56,23,40,16,17,...,17,19,16,30,12,19,17,14,28,72
2025-01-10 11:00:00,0,35,24,22,10,58,23,41,15,16,...,17,19,18,31,12,19,16,14,28,73
2025-01-10 12:00:00,0,36,24,21,10,59,23,43,15,16,...,17,19,20,32,12,19,15,14,29,73
2025-01-10 13:00:00,0,37,24,20,11,59,23,45,15,16,...,17,19,22,33,12,20,15,13,29,73
2025-01-10 14:00:00,0,39,24,19,11,58,23,46,15,16,...,17,18,22,33,12,20,15,13,29,73
2025-01-10 15:00:00,0,39,25,19,12,58,23,47,15,16,...,16,18,22,33,12,20,14,13,29,74
2025-01-10 16:00:00,0,40,26,19,12,59,23,48,15,16,...,16,18,23,33,12,20,14,13,29,75
2025-01-10 17:00:00,0,41,27,18,12,60,23,49,15,16,...,16,18,24,33,12,21,14,14,29,75
2025-01-10 18:00:00,0,42,28,18,13,60,23,49,15,16,...,16,18,25,33,12,21,14,14,30,76
2025-01-10 19:00:00,0,42,29,17,13,60,23,50,15,16,...,16,18,25,33,12,21,14,14,30,76
2025-01-10 20:00:00,0,43,30,17,13,60,23,50,15,16,...,17,18,25,33,11,21,14,14,31,77
2025-01-10 21:00:00,0,43,30,16,13,61,23,51,15,16,...,17,18,25,34,10,21,13,13,32,76
2025-01-10 22:00:00,0,44,29,16,14,61,23,51,15,15,...,17,17,25,33,9,21,12,13,33,76
2025-01-10 23:00:00,0,45,29,15,14,60,23,51,15,15,...,17,16,26,33,9,21,11,12,33,74

In [483]:
new_polutan.to_sql('hourly_air_quality', engine, if_exists='append')

21

In [158]:
# concated_polutan.to_csv('./Result/dummy-result.csv')

# Data Meteorologi (Meteostat https://dev.meteostat.net/python/)

Tanjung Priok: 96741

Kemayoran: 96745

script bakal jalan dari last recorded date - current date & jalan:
1. setiap hari
2. setiap kali akses website

## Get Start Date from last recorded daily date (Relative Humidity only avail in Hourly Data)

In [218]:
# start = dt(2025, 1, 1)
#### 1, UBAH BAGIAN INI BUAT GET LAST RECORDED DATE 
last_daily_meteorological_date = pd.read_sql_query('select max(time) from "daily_meteorological"', con=engine)['max'][0]
last_daily_meteorological_date = dt.combine(last_daily_meteorological_date, dt.min.time())
start = last_daily_meteorological_date + timedelta(days=1)

## Get End Date from yesterday of today

In [219]:
# end = dt(2025, 1, 8, 23, 59)
# 2. DAPETIN H-1 CURRENT DATE SBG BATAS BUAT DAPETIN DAILY DATA
today = dt.today()
# Calculate yesterday's date
yesterday = today - timedelta(days=1)
end = dt(yesterday.year, yesterday.month, yesterday.day, 23, 59)

## Tanjung Priok

### 1. Get Rhum (Relative Humidity) Data

In [220]:
# Get hourly Relative Humidity data
data_tp_rhum_hourly = Hourly('96741', start, end)
data_tp_rhum_hourly = data_tp_rhum_hourly.fetch()['rhum']

# 3. BIKIN HANDLING UNRECORDED HOURLY RHUM 
# generate complete timestamp from fetched data
complete_timestamp = pd.date_range(start=data_tp_rhum_hourly.index.min(), end=data_tp_rhum_hourly.index.max(), freq='h')
data_tp_rhum_hourly = data_tp_rhum_hourly.reindex(complete_timestamp)

#fillna with linear interpolation, existing value won't change if there's no na
data_tp_rhum_hourly = data_tp_rhum_hourly.interpolate(method='linear')
data_tp_rhum_hourly = data_tp_rhum_hourly.round()

# set index
data_tp_rhum_hourly = data_tp_rhum_hourly.reset_index()
data_tp_rhum_hourly = data_tp_rhum_hourly.rename(columns={'index': 'time'})
data_tp_rhum_hourly = data_tp_rhum_hourly.set_index('time')

# add Observatory station_id
data_tp_rhum_hourly['station_id'] = 96741
data_tp_rhum_hourly = data_tp_rhum_hourly[['station_id', 'rhum']]

In [222]:
# Saving hourly meteorological data
data_tp_rhum_hourly.to_sql('hourly_meteorological_rhum', con=engine, if_exists='append')

48

### 2. Convert Hourly Rhum to Daily

In [223]:
data_tp_rhum_hourly = data_tp_rhum_hourly.reset_index()
data_tp_rhum_daily = data_tp_rhum_hourly.groupby(data_tp_rhum_hourly['time'].dt.date).mean().round().astype('int')
data_tp_rhum_daily = data_tp_rhum_daily.drop(columns=['time'])

### 3. Get Daily Data (Tavg, Prcp, Wdir, Wspd)

In [224]:
# Get Daily data of Avg Temp, rainfall, wind direction, wind speed
data_tp_daily = Daily('96745', pd.to_datetime(start), pd.to_datetime(end))
data_tp_daily = data_tp_daily.fetch()
data_tp_daily = data_tp_daily[['tavg', 'prcp', 'wdir','wspd']]

### 4. Preprocess Daily Data

In [225]:
# 1. windspeed from km/h to m/s
data_tp_daily['wspd'] = (data_tp_daily['wspd'] / 3.6).round().astype(int)

# wind direction sepakat di jadiin categorical terus di label encoding
def get_wind_direction(degree):
  wind_directions = {
      "N": (337.5, 22.5),
      "NE": (22.5, 67.5),
      "E": (67.5, 112.5),
      "SE": (112.5, 157.5),
      "S": (157.5, 202.5),
      "SW": (202.5, 247.5),
      "W": (247.5, 292.5),
      "NW": (292.5, 337.5)
  }

  for direction, (start_degree, end_degree) in wind_directions.items():
    if start_degree <= degree < end_degree:
      return direction

# 2. change wdir to categorical
for degree in data_tp_daily['wdir']:
  data_tp_daily['wdir'] = get_wind_direction(degree)

# 3. change wdir to C (calm) when the wind speed <= 2 m/s
data_tp_daily.loc[data_tp_daily['wspd'] <= 2, 'wdir'] = 'C'

In [226]:
# join tanjung priok data
merge_tp_daily = data_tp_daily.join(data_tp_rhum_daily)

# reoder column
merge_tp_daily = merge_tp_daily[['station_id', 'tavg', 'rhum', 'prcp', 'wspd', 'wdir']]
merge_tp_daily

            station_id  tavg  rhum  prcp  wspd wdir
time
2025-01-09       96741  25.7    86  20.7     3    W
2025-01-10       96741  26.6    82   4.8     2    C

### 5. Insert Observatory Daily Meteorological

In [227]:
merge_tp_daily.to_sql('daily_meteorological', con=engine, if_exists='append')

2

## Observatory Jakarta

### 1. Get Rhum (Relative Humidity) Data

In [230]:
# Get hourly Relative Humidity data
data_obs_rhum_hourly = Hourly('96745', start, end)
data_obs_rhum_hourly = data_obs_rhum_hourly.fetch()['rhum']

# 3. BIKIN HANDLING UNRECORDED HOURLY RHUM 
# generate complete timestamp from fetched data
complete_timestamp = pd.date_range(start=data_obs_rhum_hourly.index.min(), end=data_obs_rhum_hourly.index.max(), freq='h')
data_obs_rhum_hourly = data_obs_rhum_hourly.reindex(complete_timestamp)

#fillna with linear interpolation, existing value won't change if there's no na
data_obs_rhum_hourly = data_obs_rhum_hourly.interpolate(method='linear')
data_obs_rhum_hourly = data_obs_rhum_hourly.round()

# set index
data_obs_rhum_hourly = data_obs_rhum_hourly.reset_index()
data_obs_rhum_hourly = data_obs_rhum_hourly.rename(columns={'index': 'time'})
data_obs_rhum_hourly = data_obs_rhum_hourly.set_index('time')

# add Observatory station_id
data_obs_rhum_hourly['station_id'] = 96745
data_obs_rhum_hourly = data_obs_rhum_hourly[['station_id', 'rhum']]

In [ ]:
# Saving hourly meteorological data
data_obs_rhum_hourly.to_sql('hourly_meteorological_rhum', con=engine, if_exists='append')

### 2. Convert Hourly Rhum to Daily

In [233]:
data_obs_rhum_hourly = data_obs_rhum_hourly.reset_index()
data_obs_rhum_daily = data_obs_rhum_hourly.groupby(data_obs_rhum_hourly['time'].dt.date).mean().round().astype('int')
data_obs_rhum_daily = data_obs_rhum_daily.drop(columns=['time'])

### 3. Get Daily Data (Tavg, Prcp, Wdir, Wspd)

In [234]:
# Get Daily data of Avg Temp, rainfall, wind direction, wind speed
data_obs_daily = Daily('96745', pd.to_datetime(start), pd.to_datetime(end))
data_obs_daily = data_obs_daily.fetch()
data_obs_daily = data_obs_daily[['tavg', 'prcp', 'wdir','wspd']]

### 4. Preprocess Daily Data

In [235]:
# 1. windspeed from km/h to m/s
data_obs_daily['wspd'] = (data_obs_daily['wspd'] / 3.6).round().astype(int)

# wind direction sepakat di jadiin categorical terus di label encoding
def get_wind_direction(degree):
  wind_directions = {
      "N": (337.5, 22.5),
      "NE": (22.5, 67.5),
      "E": (67.5, 112.5),
      "SE": (112.5, 157.5),
      "S": (157.5, 202.5),
      "SW": (202.5, 247.5),
      "W": (247.5, 292.5),
      "NW": (292.5, 337.5)
  }

  for direction, (start_degree, end_degree) in wind_directions.items():
    if start_degree <= degree < end_degree:
      return direction

# 2. change wdir to categorical
for degree in data_obs_daily['wdir']:
  data_obs_daily['wdir'] = get_wind_direction(degree)

# 3. change wdir to C (calm) when the wind speed <= 2 m/s
data_obs_daily.loc[data_obs_daily['wspd'] <= 2, 'wdir'] = 'C'

In [237]:
# join kemayoran data
merge_obs_daily = data_obs_daily.join(data_obs_rhum_daily)

# reoder column
merge_obs_daily = merge_obs_daily[['station_id', 'tavg', 'rhum', 'prcp', 'wspd', 'wdir']]

            station_id  tavg  rhum  prcp  wspd wdir
time
2025-01-09       96745  25.7    89  20.7     3    W
2025-01-10       96745  26.6    84   4.8     2    C

### 5. Insert Observatory Daily Meteorological

In [238]:
merge_obs_daily.to_sql('daily_meteorological', con=engine, if_exists='append')

2

## Tanjung priok